<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/home.css.scss">
    <title>Alpha Blog</title>
  </head>
  <body>
    <header>
      <div class="header-div">
        <h1> Welcome to Alpha Blog</h1>
        <p> by Gwen Ou</p>
      </div>
    </header>
    <section>
      <p>Alpha Blog aims to deliver to top notch content to you</p>
    </section>
    
    <%= link_to 'Home',root_path %>
  </body>
  
  
  
</html>