<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/home.css.scss">
    <title>Alpha Blog</title>
  </head>
  <body>
    <header>
      <div class="header-div">
        <h1> Welcome to Alpha Blog</h1>
        <p> by Gwen Ou</p>
      </div>
    </header>
      <div class="content-div">
        <div class="post1">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in metus id magna egestas tempus in ut turpis. Proin vel arcu mauris. Quisque et ornare nisl. Etiam mollis bibendum tristique. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean luctus convallis efficitur. Vivamus mollis at enim ac tempor. Donec tincidunt, magna eget vehicula viverra, urna eros ultricies lacus, et feugiat enim nunc ut leo. Quisque tincidunt magna non ipsum convallis, ac venenatis ligula laoreet. Sed hendrerit dolor ligula, eget tincidunt magna hendrerit ac.
    
              Sed semper lobortis ex a dapibus. Nulla facilisi. Vivamus ut quam convallis, vestibulum turpis vitae, ultrices metus. In pulvinar quam nunc, ac interdum magna luctus vel. Ut pellentesque luctus maximus. Vivamus posuere tortor euismod arcu aliquet luctus. In in suscipit nisl.
          </p>
        </div>
        <div class="post2">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in metus id magna egestas tempus in ut turpis. Proin vel arcu mauris. Quisque et ornare nisl. Etiam mollis bibendum tristique. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean luctus convallis efficitur. Vivamus mollis at enim ac tempor. Donec tincidunt, magna eget vehicula viverra, urna eros ultricies lacus, et feugiat enim nunc ut leo. Quisque tincidunt magna non ipsum convallis, ac venenatis ligula laoreet. Sed hendrerit dolor ligula, eget tincidunt magna hendrerit ac.
    
              Sed semper lobortis ex a dapibus. Nulla facilisi. Vivamus ut quam convallis, vestibulum turpis vitae, ultrices metus. In pulvinar quam nunc, ac interdum magna luctus vel. Ut pellentesque luctus maximus. Vivamus posuere tortor euismod arcu aliquet luctus. In in suscipit nisl.
        </p>
        </div>
      </div>
    <%=link_to 'About',about_path %> |
    <%=link_to 'Articles', articles_path %>
  </body>
  
  
  
</html>